@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  color: #43fc78;
}

ul {
  list-style: none;
}

section {
  padding-bottom: 4rem;
}

h1 {
  font-size: 3rem;
  max-width: 720px;
  color: #ffffff;
  letter-spacing: 0.5rem;
}

@media (min-width: 992px) {
  h1 {
    font-size: 4rem;
  }
}

h4 {
  font-size: 1.2rem;
  font-weight: 400;
  color: #ffffff;
  margin-top: 2rem;
  letter-spacing: 0.2rem;
}

h5 {
  font-size: 1.2rem;
  color: #43fc78;
  margin-top: 2rem;
  letter-spacing: 0.2rem;
  font-weight: 400;
}

.background-image {
  background-image: url(../assets/image/background.jpg);
  background-size: 100% 100%;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  background: rgba(39, 35, 58, 0.6);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.nav-bar .logo {
  font-size: 1rem;
  margin-left: 2rem;
  color: #43fc78;
  align-self: center;
}

@media (min-width: 576px) {
  .nav-bar .logo {
    margin-left: 6rem;
  }
}

@media (min-width: 992px) {
  .nav-bar .logo {
    margin-left: 6rem;
    font-size: 1.2rem;
  }
}

@media (min-width: 1200px) {
  .nav-bar .logo {
    margin-left: 8rem;
  }
}

@media (min-width: 1800px) {
  .nav-bar .logo {
    margin-left: 10rem;
  }
}

.nav-bar .nav-list {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  opacity: 0;
}

.nav-bar .nav-list .nav-item {
  margin-left: 4rem;
  padding: 0.5rem;
  align-self: center;
}

.nav-bar .nav-list .nav-item a {
  font-size: 1.2rem;
  white-space: nowrap;
}

@media (min-width: 1200px) {
  .nav-bar .nav-list {
    display: flex;
    opacity: 1;
    animation: showNav 2s linear;
  }
}

.nav-bar .social-media {
  display: flex;
  flex-direction: row;
  margin-right: 5rem;
  padding: 5px;
  margin-top: 5px;
  align-items: center;
}

.nav-bar .social-media a {
  margin-left: 1rem;
  padding: 0.5rem;
}

.nav-bar .social-media a img {
  width: 28px;
  height: 28px;
}

@media (min-width: 768px) {
  .nav-bar .social-media a img {
    transform: scale(1.3);
  }
}

@media (min-width: 1800px) {
  .nav-bar .social-media a img {
    margin-left: 4rem;
  }
}

.nav-bar .social-media .gitIcon {
  fill: #ffffff;
}

@media (min-width: 576px) {
  .nav-bar .social-media {
    margin-right: 6rem;
  }
}

@media (min-width: 992px) {
  .nav-bar .social-media {
    margin-right: 6rem;
  }
}

@media (min-width: 1200px) {
  .nav-bar .social-media {
    margin-right: 8rem;
  }
}

@media (min-width: 1800px) {
  .nav-bar .social-media {
    margin-right: 10rem;
  }
}

.nav__toggle {
  display: inline-block;
  position: absolute;
  z-index: 10;
  padding: 0;
  border: 0;
  background: transparent;
  outline: 0;
  right: 20px;
  top: 5px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.15s linear;
}

.nav__toggle:hover, .nav__toggle:focus {
  background-color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 1200px) {
  .nav__toggle {
    display: none;
  }
}

.menuicon {
  display: block;
  cursor: pointer;
  color: white;
  transform: rotate(0deg);
  transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.menuicon__bar, .menuicon__circle {
  fill: none;
  stroke: currentColor;
  stroke-width: 3;
  stroke-linecap: round;
}

.menuicon__bar {
  transform: rotate(0deg);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-in-out;
}

.menuicon__circle {
  transition: stroke-dashoffset 0.3s linear 0.1s;
  stroke-dashoffset: 144.51326;
  stroke-dasharray: 144.51326;
}

.nav--open .menuicon {
  color: white;
  transform: rotate(180deg);
}

.nav--open .menuicon__circle {
  stroke-dashoffset: 0;
}

.nav--open .menuicon__bar:nth-child(1), .nav--open .menuicon__bar:nth-child(4) {
  opacity: 0;
}

.nav--open .menuicon__bar:nth-child(2) {
  transform: rotate(45deg);
}

.nav--open .menuicon__bar:nth-child(3) {
  transform: rotate(-45deg);
}

.menu-open {
  position: fixed;
  top: 0px;
  right: 0px;
  background: rgba(39, 35, 58, 0.9);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  animation: expandMenu 0.5s linear;
  animation-fill-mode: forwards;
  z-index: 1;
}

.menu-closed {
  position: fixed;
  top: 0px;
  right: 0px;
}

.menu {
  display: none;
  height: 50%;
  padding-top: 80px;
}

.menu-list {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.menu-list a {
  font-size: 0rem;
  animation: scaleFontSize 0.5s linear;
  animation-fill-mode: forwards;
}

.landing-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: flex-start;
}

.landing-container .landing-left {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  margin: 2rem;
}

.landing-container .landing-left .toggle-scroll {
  margin-top: 2rem;
}

@media (min-width: 576px) {
  .landing-container .landing-left {
    margin: 0rem 6rem;
  }
}

@media (min-width: 992px) {
  .landing-container .landing-left {
    margin: 0rem 6rem;
    font-size: 1.2rem;
  }
}

@media (min-width: 1200px) {
  .landing-container .landing-left {
    margin: 0rem 8rem;
  }
}

@media (min-width: 1800px) {
  .landing-container .landing-left {
    margin: 0rem 10rem;
  }
}

.underline {
  border-top: 4px solid #343dfd;
  animation: draw-line 2.5s;
  animation-fill-mode: forwards;
}

@keyframes draw-line {
  0% {
    width: 0;
  }
  50% {
    border-top: 4px solid #43fc78;
  }
  100% {
    width: 100%;
    border-top: 4px solid #f61067;
    overflow: hidden;
  }
}

@keyframes expandMenu {
  0% {
    width: 0%;
    height: 0%;
  }
  50% {
    width: 50%;
    height: 50%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}

@keyframes closeMenu {
  0% {
    width: 100%;
    height: 100%;
  }
  50% {
    width: 50%;
    height: 50%;
  }
  100% {
    width: 0%;
    height: 0%;
  }
}

@keyframes scaleFontSize {
  from {
    font-size: 0rem;
  }
  to {
    font-size: 2rem;
  }
}

@keyframes showNav {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.show {
  display: flex;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.section-header {
  width: fit-content;
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-left: 2rem;
  border-bottom: 2px solid #f61067;
  font-size: 1.2rem;
  align-self: flex-start;
  white-space: nowrap;
}

@media (min-width: 576px) {
  .section-header {
    margin-left: 6rem;
  }
}

@media (min-width: 992px) {
  .section-header {
    font-size: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .section-header {
    margin-left: 8rem;
  }
}

@media (min-width: 1800px) {
  .section-header {
    margin-left: 10rem;
  }
}

.project-title {
  width: fit-content;
  margin-left: 2rem;
  font-size: 2rem;
  color: #343dfd;
}

@media (min-width: 576px) {
  .project-title {
    margin-left: 0rem;
  }
}

@media (min-width: 992px) {
  .project-title {
    align-self: flex-start;
  }
}

@media (min-width: 1200px) {
  .project-title {
    font-size: 4rem;
    align-self: flex-start;
  }
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  min-height: 500px;
  justify-content: space-around;
}

.card .text {
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

@media (min-width: 576px) {
  .card .text {
    width: 100%;
    padding-left: 0rem;
  }
}

.skill-card {
  width: 100%;
  max-width: 450px;
  max-height: 500px;
  align-self: center;
  justify-content: space-around;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
  background: rgba(39, 35, 58, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.skill-card .skillIcon {
  width: 25%;
  max-width: 120px;
}

.skill-card ul {
  text-decoration: none;
}

.skill-card ul li {
  margin-bottom: 20px;
  text-align: center;
  color: white;
  font-size: 1rem;
  cursor: context-menu;
}

.skill-card ul li:first-child {
  font-size: 1.5rem;
  color: #f61067;
  margin-bottom: 40px;
  font-weight: 500;
}

@media (min-width: 992px) {
  .skill-card:last-child {
    margin-right: 0rem;
  }
}

.text {
  padding: 10px;
  margin-bottom: 2rem;
}

.project-link {
  color: #343dfd;
  padding-left: 2rem;
  cursor: pointer;
  font-weight: 600;
  margin-bottom: 2rem;
}

@media (min-width: 576px) {
  .project-link {
    padding-left: 0rem;
  }
}

.past-project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: fit-content;
}

.past-project-container .section-header {
  justify-self: flex-start;
}

.past-project-container .projects-grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 1rem;
  margin-left: 6rem;
  margin-right: 6rem;
}

@media (min-width: 576px) {
  .past-project-container {
    margin-left: 6rem;
    margin-right: 6rem;
  }
  .past-project-container .section-header {
    margin-left: 0rem;
  }
}

@media (min-width: 992px) {
  .past-project-container {
    font-size: 1.2rem;
  }
  .past-project-container .projects-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 4rem;
  }
}

@media (min-width: 1200px) {
  .past-project-container {
    margin-left: 8rem;
    margin-right: 8rem;
  }
}

@media (min-width: 1800px) {
  .past-project-container {
    margin-left: 10rem;
    margin-right: 10rem;
  }
}

.image-container {
  display: flex;
  position: relative;
  width: 90%;
  max-width: 500px;
  min-height: 500px;
  margin: 2rem 0rem;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  background-color: #d3d5ff94;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border-radius: 10px;
  justify-self: center;
}

.image-container img {
  width: 45%;
  height: auto;
  max-height: 600px;
  object-fit: fill;
  max-width: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.image-container .img1 {
  transform: rotate(-5deg);
  z-index: 2;
}

.image-container .img2 {
  transform: rotate(8deg);
  z-index: 0;
}

@media (min-width: 992px) {
  .image-container {
    margin: 0rem 0rem;
    justify-self: flex-end;
  }
}

.project-tag-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.project-tag-list li {
  min-width: 80px;
  margin: 5px;
  color: white;
  background-image: linear-gradient(45deg, #ff76aa, #f61067);
  background-size: 150%;
  background-position: left;
  margin-bottom: 10px;
  transition: background-position linear;
  text-align: center;
  border-radius: 2px;
  padding: 3px 7px;
  cursor: context-menu;
}

.project-tag-list li:hover, .project-tag-list li:focus {
  background-position: right;
}

@media (min-width: 576px) {
  .project-tag-list {
    padding-left: 0rem;
  }
}

.my-skills-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.my-skills-container .section-header {
  display: flex;
  color: white;
  justify-self: start;
  align-self: flex-start;
}

.my-skills-container .card {
  justify-items: center;
}

@media (min-width: 1200px) {
  .my-skills-container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.card-holder {
  display: flex;
  width: 90%;
  flex-direction: column;
  justify-content: space-around;
}

@media (min-width: 992px) {
  .card-holder {
    margin-left: 6rem;
    margin-right: 6rem;
    font-size: 1.2rem;
  }
}

@media (min-width: 1200px) {
  .card-holder {
    flex-direction: row;
    margin-left: 11rem;
    margin-right: 11rem;
    justify-content: space-between;
  }
  .card-holder .card {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

@media (min-width: 1800px) {
  .card-holder {
    margin-left: 10rem;
    margin-right: 10rem;
  }
}

.education-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: start;
  width: 100%;
  height: fit-content;
}

.education-container .section-header {
  justify-self: flex-start;
  color: white;
  width: fit-content;
}

.education-container h1 {
  margin-left: 2rem;
  font-size: 2rem;
  font-weight: 500;
}

@media (min-width: 576px) {
  .education-container h1 {
    margin-left: 6rem;
  }
}

@media (min-width: 1200px) {
  .education-container h1 {
    margin-left: 8rem;
  }
}

@media (min-width: 1800px) {
  .education-container h1 {
    font-size: 3rem;
    margin-left: 10rem;
  }
}

.education-container h4 {
  margin-left: 2rem;
  color: white;
  font-weight: 300;
}

@media (min-width: 576px) {
  .education-container h4 {
    margin-left: 6rem;
  }
}

@media (min-width: 992px) {
  .education-container h4 {
    font-size: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .education-container h4 {
    margin-left: 8rem;
  }
}

@media (min-width: 1800px) {
  .education-container h4 {
    margin-left: 10rem;
  }
}

.education-container h5 {
  margin-left: 2rem;
  font-weight: 300;
  margin-bottom: 4rem;
}

@media (min-width: 576px) {
  .education-container h5 {
    margin-left: 6rem;
  }
}

@media (min-width: 992px) {
  .education-container h5 {
    font-size: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .education-container h5 {
    margin-left: 8rem;
  }
}

@media (min-width: 1800px) {
  .education-container h5 {
    margin-left: 10rem;
  }
}

.line-container {
  display: flex;
  align-self: start;
  margin-left: 2rem;
  width: 3rem;
  height: 70%;
}

@media (min-width: 576px) {
  .line-container {
    margin-left: 6rem;
    width: 4rem;
  }
}

@media (min-width: 992px) {
  .line-container {
    font-size: 1.5rem;
    width: 5rem;
  }
}

@media (min-width: 1200px) {
  .line-container {
    margin-left: 8rem;
  }
}

@media (min-width: 1800px) {
  .line-container {
    margin-left: 10rem;
  }
}

.education-line {
  width: 100%;
  max-width: 100px;
  max-height: 1200px;
}

.education-line .cls-1 {
  fill: none;
  stroke: #f61067;
  stroke-miterlimit: 10;
  stroke-width: 3px;
}

.education-timeline {
  display: flex;
  position: relative;
}

.education-card {
  display: flex;
  flex-direction: column;
  color: white;
}

.education-card h2 {
  width: fit-content;
  max-width: 14ch;
  font-size: 1.5rem;
  font-weight: 500;
  padding-right: 0rem;
  margin-bottom: 2rem;
  text-align: center;
  border-bottom: solid 2px #f61067;
}

.education-card ul > li {
  font-size: 1rem;
  width: 35ch;
  margin-bottom: 0.6rem;
}

@media (min-width: 576px) {
  .education-card ul > li {
    font-size: 1.1rem;
    width: 35ch;
  }
}

@media (min-width: 992px) {
  .education-card ul > li {
    width: 45ch;
  }
}

@media (min-width: 576px) {
  .education-card {
    margin-left: 6rem;
    width: 4rem;
  }
  .education-card h2 {
    width: 45ch;
  }
  .education-card li {
    font-size: 1rem;
    width: 45ch;
  }
}

@media (min-width: 992px) {
  .education-card {
    font-size: 1.5rem;
    width: 5rem;
  }
}

@media (min-width: 1200px) {
  .education-card {
    margin-left: 8rem;
  }
}

@media (min-width: 1800px) {
  .education-card {
    margin-left: 10rem;
  }
}

.second-year {
  position: absolute;
  top: -1.5rem;
  left: 6rem;
}

@media (min-width: 576px) {
  .second-year {
    top: -2rem;
  }
}

.summer-studies {
  position: absolute;
  top: 18rem;
  left: 6rem;
}

@media (min-width: 576px) {
  .summer-studies {
    top: 23rem;
  }
}

.first-year {
  position: absolute;
  top: 42.5rem;
  left: 6rem;
}

@media (min-width: 576px) {
  .first-year {
    top: 54.1rem;
  }
}

footer {
  display: flex;
  justify-content: center;
  background-color: #231f34;
}

footer p {
  color: #43fc78;
}

.latest-project {
  height: fit-content;
  min-height: 100vh;
}

.latest-project .section-header {
  justify-self: flex-end;
}
/*# sourceMappingURL=main.css.map */