@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  color: #44cf6c;
}

ul {
  list-style: none;
}

.background-image {
  background-image: url(../assets/image/background.jpg);
  background-size: 100% 100%;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow: hidden;
  background: rgba(39, 35, 58, 0.6);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.nav-bar .logo {
  font-size: 0.8rem;
  color: #44cf6c;
  align-self: center;
  margin-left: -30px;
}

@media (min-width: 992px) {
  .nav-bar .logo {
    margin-left: 20px;
  }
}

@media (min-width: 1200px) {
  .nav-bar .logo {
    margin-left: 5rem;
    font-size: 1rem;
  }
}

@media (min-width: 1400px) {
  .nav-bar .logo {
    margin-left: 10rem;
    font-size: 1.2rem;
  }
}

.nav-bar .nav-list {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  opacity: 0;
}

.nav-bar .nav-list .nav-item {
  margin-left: 4rem;
  padding: 0.5rem;
  align-self: center;
}

.nav-bar .nav-list .nav-item a {
  font-size: 1.2rem;
  white-space: nowrap;
}

@media (min-width: 992px) {
  .nav-bar .nav-list {
    display: flex;
    opacity: 1;
    animation: showNav 2s linear;
  }
}

.nav-bar .social-media {
  display: flex;
  flex-direction: row;
  margin-right: 80px;
  padding: 5px;
  margin-top: 5px;
  align-items: center;
  overflow: hidden;
}

.nav-bar .social-media a {
  margin-left: 1rem;
  padding: 0.5rem;
}

.nav-bar .social-media a img {
  width: 24px;
  height: 24px;
}

@media (min-width: 992px) {
  .nav-bar .social-media a img {
    transform: scale(1.5);
  }
}

.nav-bar .social-media .gitIcon {
  fill: #ffffff;
}

@media (min-width: 992px) {
  .nav-bar .social-media {
    margin-right: 2rem;
  }
}

@media (min-width: 1200px) {
  .nav-bar .social-media {
    margin-right: 5rem;
  }
}

@media (min-width: 1400px) {
  .nav-bar .social-media {
    margin-right: 10rem;
  }
}

.nav__toggle {
  display: inline-block;
  position: absolute;
  z-index: 10;
  padding: 0;
  border: 0;
  background: transparent;
  outline: 0;
  right: 20px;
  top: 5px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.15s linear;
}

.nav__toggle:hover, .nav__toggle:focus {
  background-color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 992px) {
  .nav__toggle {
    display: none;
  }
}

.menuicon {
  display: block;
  cursor: pointer;
  color: white;
  transform: rotate(0deg);
  transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.menuicon__bar, .menuicon__circle {
  fill: none;
  stroke: currentColor;
  stroke-width: 3;
  stroke-linecap: round;
}

.menuicon__bar {
  transform: rotate(0deg);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-in-out;
}

.menuicon__circle {
  transition: stroke-dashoffset 0.3s linear 0.1s;
  stroke-dashoffset: 144.51326;
  stroke-dasharray: 144.51326;
}

.nav--open .menuicon {
  color: white;
  transform: rotate(180deg);
}

.nav--open .menuicon__circle {
  stroke-dashoffset: 0;
}

.nav--open .menuicon__bar:nth-child(1), .nav--open .menuicon__bar:nth-child(4) {
  opacity: 0;
}

.nav--open .menuicon__bar:nth-child(2) {
  transform: rotate(45deg);
}

.nav--open .menuicon__bar:nth-child(3) {
  transform: rotate(-45deg);
}

.menu-open {
  position: fixed;
  top: 0px;
  right: 0px;
  background: rgba(39, 35, 58, 0.9);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  animation: expandMenu 0.5s linear;
  animation-fill-mode: forwards;
  z-index: 1;
}

.menu-closed {
  position: fixed;
  top: 0px;
  right: 0px;
}

.menu {
  display: none;
  height: 50%;
  padding-top: 80px;
}

.menu-list {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.menu-list a {
  font-size: 0rem;
  animation: scaleFontSize 0.5s linear;
  animation-fill-mode: forwards;
}

.landing-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-content: center;
}

.landing-container .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.landing-container .landing-left {
  display: flex;
  flex-direction: column;
  margin: 0 5rem;
  justify-content: center;
}

.landing-container .landing-left h1 {
  font-size: 2.5rem;
  max-width: 720px;
  color: #ffffff;
  letter-spacing: 0.5rem;
}

.landing-container .landing-left h4 {
  font-size: 1.5rem;
  color: #ffffff;
  margin-top: 2rem;
  letter-spacing: 0.2rem;
}

.landing-container .landing-left .toggle-scroll {
  margin-top: 2rem;
}

@media (min-width: 992px) {
  .landing-container .landing-left h1 {
    font-size: 3rem;
    animation: font-size 1s linear;
  }
  .landing-container .landing-left h4 {
    font-size: 2rem;
  }
}

@media (min-width: 1200px) {
  .landing-container .landing-left h1 {
    font-size: 3.5rem;
  }
}

@media (min-width: 1400px) {
  .landing-container .landing-left {
    margin-left: 10rem;
  }
  .landing-container .landing-left h1 {
    font-size: 4rem;
  }
}

.landing-container .landing-right {
  display: none;
  flex-direction: column;
  padding-top: 5rem;
}

.landing-container .landing-right .triangle-animation {
  transform: scale(1.2);
  animation: transform 2s;
}

@media (min-width: 992px) {
  .landing-container .landing-right {
    display: flex;
  }
}

@media (min-width: 1200px) {
  .landing-container .landing-right {
    margin-right: 5rem;
    margin-left: 10rem;
  }
  .landing-container .landing-right .triangle-animation {
    transform: scale(1.5);
  }
}

@media (min-width: 1400px) {
  .landing-container .landing-right {
    margin-right: 10rem;
    margin-left: 20rem;
  }
  .landing-container .landing-right .triangle-animation {
    transform: scale(2);
  }
}

.underline {
  border-top: 4px solid #343dfd;
  animation: draw-line 5s;
  animation-fill-mode: forwards;
}

@keyframes draw-line {
  0% {
    width: 0;
  }
  50% {
    border-top: 4px solid #44cf6c;
  }
  100% {
    width: 100%;
    border-top: 4px solid #f61067;
    overflow: hidden;
  }
}

@keyframes expandMenu {
  0% {
    width: 0%;
    height: 0%;
  }
  50% {
    width: 50%;
    height: 50%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}

@keyframes closeMenu {
  0% {
    width: 100%;
    height: 100%;
  }
  50% {
    width: 50%;
    height: 50%;
  }
  100% {
    width: 0%;
    height: 0%;
  }
}

@keyframes scaleFontSize {
  from {
    font-size: 0rem;
  }
  to {
    font-size: 2rem;
  }
}

@keyframes showNav {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.show {
  display: flex;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.triangle-animation {
  height: 100vh;
  transform: scale(1.4);
}

#red-triangle {
  transform: translateY(-500px), rotate(0deg);
  opacity: 0;
  animation: redTriangle 2s 2s linear forwards;
}

#green-triangle {
  transform: translateY(-500px), rotate(0deg);
  opacity: 0;
  animation: greenTriangle 2s 1s linear forwards;
}

#blue-triangle {
  transform: translateY(-500px), rotate(0deg);
  opacity: 0.85;
  animation: blueTriangle 2s forwards linear;
}

@keyframes blueTriangle {
  0% {
    transform: translate(0px, -500px);
  }
  50% {
    transform: translate(30px, 0px), rotate(-5deg);
  }
  100% {
    transform: translate(80px, 400px), rotate(-10deg);
  }
}

@keyframes greenTriangle {
  0% {
    opacity: 0.85;
    transform: translate(0px, -500px);
  }
  50% {
    opacity: 0.85;
    transform: translate(30px, 0px), rotate(-5deg);
  }
  100% {
    opacity: 0.85;
    transform: translate(80px, 400px), rotate(-10deg);
  }
}

@keyframes redTriangle {
  0% {
    opacity: 0.85;
    transform: translate(0px, -500px);
  }
  50% {
    opacity: 0.85;
    transform: translate(30px, 0px), rotate(-5deg);
  }
  100% {
    opacity: 0.85;
    transform: translate(80px, 400px), rotate(-10deg);
  }
}

.section-header {
  width: fit-content;
  margin-top: 50px;
  margin-left: 40px;
  border-bottom: 2px solid #f61067;
  font-size: 1.2rem;
}

@media (min-width: 992px) {
  .section-header {
    margin-left: 15%;
    align-self: flex-start;
  }
}

@media (min-width: 1200px) {
  .section-header {
    font-size: 2.4rem;
    margin-left: 15%;
    align-self: flex-start;
  }
}

.project-title {
  width: fit-content;
  margin: 20px;
  font-size: 3rem;
  color: #343dfd;
  margin-left: 40px;
}

@media (min-width: 992px) {
  .project-title {
    margin-left: 0px;
    align-self: flex-start;
  }
}

@media (min-width: 1200px) {
  .project-title {
    font-size: 5rem;
    margin-left: 0px;
    align-self: flex-start;
  }
}

.card {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 500px;
  min-height: 500px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  justify-content: space-around;
}

.skill-card {
  justify-content: space-around;
  align-items: center;
  background: rgba(39, 35, 58, 0.4);
}

.skill-card .skillIcon {
  width: 25%;
  max-width: 120px;
}

.skill-card ul {
  text-decoration: none;
}

.skill-card ul li {
  margin-bottom: 20px;
  text-align: center;
  color: white;
  font-size: 1rem;
}

.skill-card ul li:first-child {
  font-size: 1.5rem;
  color: #f61067;
  margin-bottom: 40px;
  font-weight: 500;
}

.text {
  padding: 10px;
}

.project-link {
  color: #343dfd;
  padding-left: 10px;
  cursor: pointer;
  font-weight: 600;
}

.past-project-container {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

@media (min-width: 992px) {
  .past-project-container {
    align-items: center;
  }
}

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.project-container .project-title {
  align-self: flex-start;
}

@media (min-width: 992px) {
  .project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.2fr 0.8fr;
    grid-row-gap: 2rem;
    margin-bottom: 2rem;
    min-height: 800px;
    width: 70%;
  }
  .project-container .card {
    height: fit-content;
  }
}

.image-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  overflow: hidden;
  justify-self: flex-end;
  align-self: center;
  height: fit-content;
  margin: 2rem 0rem;
}

.image-container img {
  width: 400px;
  height: 700px;
  margin-bottom: -10px;
}

.image-container .gamer-img {
  width: 100%;
  height: 300px;
}

@media (min-width: 992px) {
  .image-container {
    grid-column: 2;
    grid-row: 1 / span 2;
    justify-self: flex-end;
    align-self: flex-end;
  }
}

@media (min-width: 1200px) {
  .image-container .gamer-img {
    height: 400px;
  }
}

.project-tag-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project-tag-list li {
  color: white;
  background-image: linear-gradient(45deg, #ff76aa, #f61067);
  background-size: 150%;
  background-position: left;
  transition: background-position linear;
  margin: 10px;
  text-align: center;
  border-radius: 2px;
  padding: 3px 7px;
  cursor: context-menu;
}

.project-tag-list li:hover, .project-tag-list li:focus {
  background-position: right;
}

.my-skills-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-skills-container .card {
  margin-top: 50px;
}

.my-skills-container .card:last-child {
  margin-bottom: 50px;
}

@media (min-width: 992px) {
  .my-skills-container {
    flex-direction: row;
    height: 100vh;
    justify-content: space-around;
  }
  .my-skills-container .card:last-child {
    margin-bottom: 0px;
  }
  .my-skills-container .card {
    width: 27%;
  }
}

.education-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100vh;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.contact-container div {
  width: fit-content;
  justify-content: center;
}

.contact-container div p {
  color: white;
}

.contact-container a {
  width: fit-content;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #231f34;
}

footer p {
  color: #44cf6c;
}
/*# sourceMappingURL=main.css.map */