@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

// Website color palette
$color: (
  primary: #27233a,
  primaryDark: #231f34,
  secondary: #ffffff,
  blueAccent: #343dfd,
  redAccent: #f61067,
  redAccent80: rgba(246, 16, 103, 0.8),
  greenAccent: #44cf6c,
);

// calculate a circle's circumference based on radius
@function circumference($r) {
  $pi: 3.141592653;
  @return 2 * $pi * $r;
}

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Extra large tablets and desktops
$screen-xxl-min: 1400px;

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

// Extra extra large devices
@mixin xxl {
  @media (min-width: #{$screen-xxl-min}) {
    @content;
  }
}

// Resets
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: map-get($color, secondary);
}

a:hover {
  color: map-get($color, greenAccent);
}

ul {
  list-style: none;
}

.background-image {
  background-image: url(../assets/image/background.jpg);
  background-size: 100% 100%;
}

// Navigation
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow: hidden;
  background: rgba(39, 35, 58, 0.6);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  .logo {
    font-size: 0.8rem;
    color: map-get($color, greenAccent);
    align-self: center;
    margin-left: -30px;

    @include lg {
      margin-left: 20px;
    }

    @include xl {
      margin-left: 5rem;
      font-size: 1rem;
    }

    @include xxl {
      margin-left: 10rem;
      font-size: 1.2rem;
    }
  }

  .nav-list {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    opacity: 0;

    .nav-item {
      margin-left: 4rem;
      padding: 0.5rem;
      align-self: center;

      a {
        font-size: 1.2rem;
        white-space: nowrap;
      }
    }

    @include lg {
      display: flex;
      opacity: 1;
      animation: showNav 2s linear;
    }
  }
  // Media Icons LinkedIn / GitHub
  .social-media {
    display: flex;
    flex-direction: row;
    margin-right: 80px;
    padding: 5px;
    margin-top: 5px;
    align-items: center;
    overflow: hidden;

    a {
      margin-left: 1rem;
      padding: 0.5rem;

      img {
        width: 24px;
        height: 24px;

        @include lg {
          transform: scale(1.5);
        }
      }
    }

    .gitIcon {
      fill: map-get($color, secondary);
    }

    @include lg {
      margin-right: 2rem;
    }

    @include xl {
      margin-right: 5rem;
    }

    @include xxl {
      margin-right: 10rem;
    }
  }
}

// Mobile menu
.nav__toggle {
  display: inline-block;
  position: absolute;
  z-index: 10;
  padding: 0;
  border: 0;
  background: transparent;
  outline: 0;
  right: 20px;
  top: 5px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.15s linear;

  &:hover,
  &:focus {
    background-color: rgba(0, 0, 0, 0.5);
  }

  @include lg {
    display: none;
  }
}

// Mobile menu SVG
.menuicon {
  display: block;
  cursor: pointer;
  color: white;

  transform: rotate(0deg);
  transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);

  &__bar,
  &__circle {
    fill: none;
    stroke: currentColor;
    stroke-width: 3;
    stroke-linecap: round;
  }
  &__bar {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-in-out;
  }
  &__circle {
    transition: stroke-dashoffset 0.3s linear 0.1s;
    stroke-dashoffset: circumference(23);
    stroke-dasharray: circumference(23);
  }
}

// Used once mobile menu is pressed
.nav--open {
  //animate the menu icon
  .menuicon {
    color: white;
    transform: rotate(180deg);

    &__circle {
      stroke-dashoffset: 0;
    }
    &__bar:nth-child(1),
    &__bar:nth-child(4) {
      opacity: 0;
    }
    &__bar:nth-child(2) {
      transform: rotate(45deg);
    }
    &__bar:nth-child(3) {
      transform: rotate(-45deg);
    }
  }
}

// Expands overlay for mobile menu
.menu-open {
  position: fixed;
  top: 0px;
  right: 0px;
  background: rgba(39, 35, 58, 0.9);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  animation: expandMenu 0.5s linear;
  animation-fill-mode: forwards;
  z-index: 1;
}

// retracts menu overlay
.menu-closed {
  position: fixed;
  top: 0px;
  right: 0px;
}

.menu {
  display: none;
  height: 50%;
  padding-top: 80px;
}
// Navigation links in mobile menu
.menu-list {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  a {
    font-size: 0rem;
    animation: scaleFontSize 0.5s linear;
    animation-fill-mode: forwards;
  }
}

// First section of website
.landing-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-content: center;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .landing-left {
    display: flex;
    flex-direction: column;
    margin: 0 5rem;
    justify-content: center;
    h1 {
      font-size: 2.5rem;
      max-width: 720px;
      color: map-get($color, secondary);
      letter-spacing: 0.5rem;
    }

    h4 {
      font-size: 1.5rem;
      color: map-get($color, secondary);
      margin-top: 2rem;
      letter-spacing: 0.2rem;
    }

    .toggle-scroll {
      margin-top: 2rem;
    }
    @include lg {
      h1 {
        font-size: 3rem;
        animation: font-size 1s linear;
      }

      h4 {
        font-size: 2rem;
      }
    }

    @include xl {
      h1 {
        font-size: 3.5rem;
      }
    }
    @include xxl {
      margin-left: 10rem;

      h1 {
        font-size: 4rem;
      }
    }
  }

  .landing-right {
    display: none;
    flex-direction: column;
    padding-top: 5rem;

    .triangle-animation {
      transform: scale(1.2);
      animation: transform 2s;
    }

    @include lg {
      display: flex;
    }

    @include xl {
      margin-right: 5rem;
      margin-left: 10rem;

      .triangle-animation {
        transform: scale(1.5);
      }
    }
    @include xxl {
      margin-right: 10rem;
      margin-left: 20rem;

      .triangle-animation {
        transform: scale(2);
      }
    }
  }
}

// Animation of the underline on the headerline
.underline {
  border-top: 4px solid map-get($color, blueAccent);
  animation: draw-line 5s;
  animation-fill-mode: forwards;
}

// Underline animation
@keyframes draw-line {
  0% {
    width: 0;
  }

  50% {
    border-top: 4px solid map-get($color, greenAccent);
  }

  100% {
    width: 100%;
    border-top: 4px solid map-get($color, redAccent);
    overflow: hidden;
  }
}

// Open menu animation
@keyframes expandMenu {
  0% {
    width: 0%;
    height: 0%;
  }

  50% {
    width: 50%;
    height: 50%;
  }

  100% {
    width: 100%;
    height: 100%;
  }
}

// Close menu animation
@keyframes closeMenu {
  0% {
    width: 100%;
    height: 100%;
  }

  50% {
    width: 50%;
    height: 50%;
  }

  100% {
    width: 0%;
    height: 0%;
  }
}

// Scale social icon size
@keyframes scaleFontSize {
  from {
    font-size: 0rem;
  }
  to {
    font-size: 2rem;
  }
}

// Gradual display of navbar on screen change
@keyframes showNav {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

// utility
.show {
  display: flex;
}

// Stick navigation to top of viewport
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.triangle-animation {
  height: 100vh;
  transform: scale(1.4);
}

#red-triangle {
  transform: translateY(-500px), rotate(0deg);
  opacity: 0;
  animation: redTriangle 2s 2s linear forwards;
}

#green-triangle {
  transform: translateY(-500px), rotate(0deg);
  opacity: 0;
  animation: greenTriangle 2s 1s linear forwards;
}

#blue-triangle {
  transform: translateY(-500px), rotate(0deg);
  opacity: 0.85;
  animation: blueTriangle 2s forwards linear;
}

@keyframes blueTriangle {
  0% {
    transform: translate(0px, -500px);
  }

  50% {
    transform: translate(30px, 0px), rotate(-5deg);
  }

  100% {
    transform: translate(80px, 400px), rotate(-10deg);
  }
}

@keyframes greenTriangle {
  0% {
    opacity: 0.85;
    transform: translate(0px, -500px);
  }

  50% {
    opacity: 0.85;
    transform: translate(30px, 0px), rotate(-5deg);
  }

  100% {
    opacity: 0.85;
    transform: translate(80px, 400px), rotate(-10deg);
  }
}

@keyframes redTriangle {
  0% {
    opacity: 0.85;
    transform: translate(0px, -500px);
  }

  50% {
    opacity: 0.85;
    transform: translate(30px, 0px), rotate(-5deg);
  }

  100% {
    opacity: 0.85;
    transform: translate(80px, 400px), rotate(-10deg);
  }
}

// Latest Project Section

.section-header {
  width: fit-content;
  margin-top: 50px;
  margin-left: 40px;
  border-bottom: 2px solid map-get($color, redAccent);
  font-size: 1.2rem;

  @include lg {
    margin-left: 15%;
    align-self: flex-start;
  }
  @include xl {
    font-size: 2.4rem;
    margin-left: 15%;
    align-self: flex-start;
  }
}

.project-title {
  width: fit-content;
  margin: 20px;
  font-size: 3rem;
  color: map-get($color, blueAccent);
  margin-left: 40px;

  @include lg {
    margin-left: 0px;
    align-self: flex-start;
  }

  @include xl {
    font-size: 5rem;
    margin-left: 0px;
    align-self: flex-start;
  }
}

.card {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 500px;
  min-height: 500px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  justify-content: space-around;
}

.skill-card {
  justify-content: space-around;
  align-items: center;
  background: rgba(39, 35, 58, 0.4);
  .skillIcon {
    width: 25%;
    max-width: 120px;
  }

  ul {
    text-decoration: none;

    li {
      margin-bottom: 20px;
      text-align: center;
      color: white;
      font-size: 1rem;
    }

    li:first-child {
      font-size: 1.5rem;
      color: map-get($color, redAccent);
      margin-bottom: 40px;
      font-weight: 500;
    }
  }
}

.text {
  padding: 10px;
}

.project-link {
  color: map-get($color, blueAccent);
  padding-left: 10px;
  cursor: pointer;
  font-weight: 600;
}

.past-project-container {
  display: flex;
  flex-direction: column;
  height: fit-content;

  @include lg {
    align-items: center;
  }
}

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;

  .project-title {
    align-self: flex-start;
  }
  @include lg {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.2fr 0.8fr;
    grid-row-gap: 2rem;
    margin-bottom: 2rem;
    min-height: 800px;
    width: 70%;

    .card {
      height: fit-content;
    }
  }
}

.image-container {
  grid-column: 2;
  grid-row: 1 / span 2;
  width: fit-content;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  overflow: hidden;
  justify-self: flex-end;
  align-self: center;
  height: fit-content;
  margin: 2rem 0rem;

  img {
    width: 400px;
    height: 700px;
    margin-bottom: -10px;
  }

  .gamer-img {
    width: 100%;
    height: 300px;
  }

  @include lg {
    justify-self: flex-end;
    align-self: flex-end;
  }

  @include xl {
    .gamer-img {
      height: 400px;
    }
  }
}

.project-tag-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  li {
    color: white;
    background-image: linear-gradient(45deg, #ff76aa, #f61067);
    background-size: 150%;
    background-position: left;
    transition: background-position linear;
    margin: 10px;
    text-align: center;
    border-radius: 2px;
    padding: 3px 7px;
    cursor: context-menu;

    &:hover,
    &:focus {
      background-position: right;
    }
  }
}

// Section 3 My Skills

.my-skills-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;

  .card {
    margin-top: 50px;
  }

  .card:last-child {
    margin-bottom: 50px;
  }

  @include lg {
    flex-direction: row;
    height: 100vh;
    justify-content: space-around;
    .card:last-child {
      margin-bottom: 0px;
    }

    .card {
      width: 27%;
    }
  }
}

// Section 4 my projects

// Section 5 my education

.education-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100vh;
}

// Contact section

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;

  div {
    width: fit-content;
    justify-content: center;

    p {
      color: white;
    }
  }
  a {
    width: fit-content;
  }
}

//Footer

footer {
  display: flex;
  justify-content: center;
  background-color: map-get($color, primaryDark);
  p {
    color: map-get($color, greenAccent);
  }
}
